<p-toast></p-toast>
<p-dialog
    [(visible)]="clienteDialog"
    [style]="{ width: '900px' }"
    [modal]="true"
    header
    class="p-fluid"
>
    <div class="card p-fluid">
        <h3>Datos Básicos</h3>
        <div class="grid">
            <!-- Columna 1 -->
            <div class="col-12 md:col-4">
                <div class="field">
                    <label for="nombre"><b>Nombres</b></label>
                    <input
                        id="nombre"
                        type="text"
                        pInputText
                        [(ngModel)]="cliente.nombre"
                    />
                </div>
                <div class="field">
                    <label for="telefono"><b>Teléfono</b></label>
                    <input
                        id="telefono"
                        type="number"
                        pInputText
                        [(ngModel)]="cliente.telefono"
                    />
                </div>
            </div>
            <!-- Columna 2 -->
            <div class="col-12 md:col-4">
                <div class="field">
                    <label for="numerodocumento"><b>Número Documento</b></label>
                    <input
                        id="numerodocumento"
                        type="number"
                        pInputText
                        [(ngModel)]="cliente.numerodocumento"
                    />
                </div>
                <div class="field">
                    <label for="direccion"><b>Dirección</b></label>
                    <input
                        id="direccion"
                        type="text"
                        pInputText
                        [(ngModel)]="cliente.direccion"
                    />
                </div>
            </div>
            <!-- Columna 3 -->
            <div class="col-12 md:col-4">
                <div class="field">
                    <label for="ciudad"><b>Ciudad</b></label>
                    <input
                        id="ciudad"
                        type="text"
                        pInputText
                        [(ngModel)]="cliente.ciudad"
                    />
                </div>
                <div class="field">
                    <label for="nombrenegocio"><b>Nombre Negocio</b></label>
                    <input
                        id="nombrenegocio"
                        type="text"
                        pInputText
                        [(ngModel)]="cliente.nombrenegocio"
                    />
                </div>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <button
            (click)="save()"
            pButton
            pRipple
            label="Guardar"
            icon="pi pi-check"
            class="p-button-success"
        ></button>
        <button
            (click)="clienteDialog = false"
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            class="p-button-danger"
        ></button>
    </ng-template>
</p-dialog>
